.hero-section-image {
  width: 90%;
  height: 225px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border-radius: 25px;
  position: relative;
  filter: brightness(0.7);
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: white;
  z-index: 9999;
  position: absolute;
}
.error-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.letter-404 {
  font-size: 18rem;
  color: #ff6060;
}

.message-404 {
  font-size: 1rem;
  font-weight: 500px;
  color: #ff6060;
}

.link-back-to-home {
  font-size: 1rem;
  color: #ff6060;
}

@media only screen and (min-width: 1200px) {
  .hero-section-about {
    width: 90%;
  }
}

@media only screen and (min-width: 1024px) {
  .hero-section-about {
    width: 70%;
  }
}

@media only screen and (max-width: 1024px) {
  .hero-section-about {
    width: 60%;
  }
}
