.house-infos-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 6rem;
}

.house-infos-details {
  display: flex;
  flex-direction: column;
}

.house-title {
  color: #ff6060;
  font-size: 2rem;
}

.house-location {
  font-size: 1rem;
  color: #ff6060;
}

.house-tags {
  color: white;
  width: 100%;
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
}
.tag {
  background: #ff6060;
  margin: 0.8rem 0;
  width: 115px;
  padding: 0.8rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.house-host-rating {
  display: flex;
  flex-direction: column;
}

.host-infos-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.host-profil {
  border-radius: 50%;
  height: 64px;
  width: 64px;
}

.host-name {
  width: 93px;
  width: 52px;
  font-size: 18px;
  color: #ff6060;
}

.host-rating {
  color: #ff6060;
  margin: 1rem 0;
}
