.card-container {
  background: #f7f7f7;
  margin: 3rem;
  border-radius: 25px;
  padding: 10px;
  display: flex;
}

.card-item {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5rem;
}

.card-list {
  margin: 2rem auto;
  list-style-type: none;
  padding-inline-start: unset;
}
.house-link {
  position: relative;
  height: 20rem;
  border-radius: 10px;
}

.house-image {
  width: 20rem;
  height: 20rem;
  border-radius: 10px;
  filter: brightness(0.7);
}

.item-title {
  color: white;
  width: 10rem;
  position: relative;
  top: -7rem;
  left: 1rem;
  font-family: "Montserrat", sans-serif;
}

@media only screen and (max-width: 470px) {
  .house-image {
    width: 15rem;
    height: 15rem;
  }
  .house-link {
    height: 15rem;
  }
}

@media only screen and (max-width: 370px) {
  .house-image {
    width: 10rem;
    height: 10rem;
  }
  .house-link {
    height: 10rem;
  }

  .item-title {
    width: 6rem;
    font-size: 0.7rem;
    top: -4.5rem;
  }
}
