.accordion-house {
  width: 30%;
  height: 100%;
  margin: 2rem auto;
}

.item {
  background: #f6f6f6;
  border-radius: 10px;
  margin-bottom: 2rem;
}

.accordion-house-title {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ff6060;
  padding: 0 10px;
  border-radius: 10px;
  cursor: pointer;
}

.accordion-house-content {
  color: #ff6060;
  padding: 5px 20px;
  max-height: 0;
  display: none;
  overflow: hidden;
  transition: all 0.5s;
}

.accordion-house-content.show {
  max-height: 100vh;
  display: block;
  transition: all 0.5s;
}

span {
  font-size: 2rem;
}
