.sliders {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem auto;
  border-radius: 25px;
  position: relative;
}

.slide-image {
  width: 90%;
  height: 415px;
  border-radius: 25px;
  object-fit: cover;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 10rem;
  font-size: 3rem;
  color: white;
  cursor: pointer;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 10rem;
  font-size: 3rem;
  color: white;
  cursor: pointer;
}
